[submodule "JingyingJiang_OFanimation2015"]
	path = JingyingJiang_OFanimation2015
	url = https://github.com/jjy192219/JingyingJiang_OFanimation2015
[submodule "JingyiWei_OFanimation2015"]
	path = JingyiWei_OFanimation2015
	url = https://github.com/JingyiWei-Vivian/JingyiWei_OFanimation2015
[submodule "YunqiZhou2_OFanimation2015"]
	path = YunqiZhou2_OFanimation2015
	url = https://github.com/zhouy546/YunqiZhou2_OFanimation2015.git
[submodule "HsinPeng_OFanimation2015"]
	path = HsinPeng_OFanimation2015
	url = https://github.com/joyjoypeng/HsinPeng_OFanimation2015
[submodule "UmiSyam_OFanimation2015"]
	path = UmiSyam_OFanimation2015
	url = https://github.com/umisyam/UmiSyam_OFanimation2015
[submodule "DuoXu_OFanimation2015"]
	path = DuoXu_OFanimation2015
	url = https://github.com/Doreenduo/DuoXu_OFanimation2015
[submodule "XingZhang_OFanimation2015"]
	path = XingZhang_OFanimation2015
	url = https://github.com/xingzhang11/XingZhang_OFanimation2015
[submodule "TylerHenry_OFanimation2015"]
	path = TylerHenry_OFanimation2015
	url = https://github.com/tyhenry/TylerHenry_OFanimation2015
[submodule "Jessie_OFanimation2015"]
	path = Jessie_OFanimation2015
	url = https://github.com/jcontour/Jessie_OFanimation2015
[submodule "MadhavTankha_OFanimation2015"]
	path = MadhavTankha_OFanimation2015
	url = https://github.com/Mtankha/MadhavTankha_OFanimation2015
[submodule "LuobinWang_OFanimation2015"]
	path = LuobinWang_OFanimation2015
	url = https://github.com/peterobbin/LuobinWang_OFanimation2015
